@import 'mixins';

// ----- Fonts
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
// @import url(http://fonts.googleapis.com/css?family=Merriweather);

// ----- Colors
$bg-color: #f0f0ee;
$link-color: #3589ac;
$font-color: #555;
$border-color: #BBB;

// ---- styles
%boxed-stat {
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 1px solid $border-color;
  box-shadow: inset 0 1px 0 white, 0 1px 2px rgba(0,0,0,0.3);
  text-shadow: 1px 1px 0 white;
  padding: 3px 8px;
}

// ----- Font Families
@mixin font-marker {
  font-family: "Permanent Marker";
  font-weight: 400;
}

@mixin font-cute {
  font-family: "Shadows Into Light Two";
  font-weight: 400;
}

// ----- Values
$map-height: 600px;

// ----- Reset
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// ----- Body
body {
  background-color: $bg-color;
  color: $font-color;
}

// ----- Headings
h1 {
  @include font-marker;
  font-size: 62px;
  margin: 5px 0;
  text-shadow: 0 1px 0 white;

  @include mobile {
    font-size: 45px;
  }
}

h2 {
  @include font-marker;
  font-size: 25px;
  margin: 0;
}

#header {
  text-align: center;
}
#footer {
  margin-top: 20px;
  text-align: center;
}

// ----- Links
a {
  @include transition(color 0.05s linear);
  color: $link-color;

  &:hover {
    color: darken($link-color, 3%);
  }
}

// --------------------
// ----- Stats Headings
.stats-container {
  position: absolute;
  top: 110px;
  z-index: 2;
  width: 100%;
}
.stat {
  @include font-bold;
  @extend %boxed-stat;
  font-size: 30px;
  vertical-align: top;
}
// ----- Time 
#time {
  position: absolute;
  left: 20px;
}
#count {
  position: absolute;
  right: 20px;
}

// ----- Map
#map {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  height: $map-height;
}

// ----- Map Graph
#map-graph {
  height: $map-height;
  position: relative;
  width: 100%;
}

.car {
  fill: #74b6d9;
  stroke: white;
  stroke-opacity: 0.5;
  stroke-width: 1px;

  &.hide {
    display: none;
  }
}

// ----- Timeline
#timeline {
  height: 50px;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid $border-color;

  .time-marker {
    stroke: #ba4537;
    stroke-width: 3px;
    stroke-opacity: 0.8;
  }

  .count-path {
    stroke: $border-color;
    fill: none;
  }

  .count-area {
    fill: $font-color;
    fill-opacity: 0.08;
  }
}

#timeline line {
  stroke: $font-color;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges;
}


