@import 'mixins';

// ----- Fonts
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);
// @import url(http://fonts.googleapis.com/css?family=Merriweather);

// ----- Colors
$link-color: #3589ac;
$font-color: #555;

// ----- Font Families
@mixin font-marker {
  font-family: "Permanent Marker";
  font-weight: 400;
}

@mixin font-time {
  font-family: "Shadows Into Light Two";
  font-weight: 400;
}

// ----- Values
$map-height: 700px;

// ----- Reset
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// ----- Body
body {
  background-color: #f0f0ee;
  color: $font-color;
}

// ----- Headings
h1 {
  @include font-marker;
  font-size: 65px;
  margin: 5px 0;

  @include mobile {
    font-size: 45px;
  }
}

h2 {
  @include font-marker;
  font-size: 25px;
  margin: 0;
}

#header {
  text-align: center;
}
#footer {
  text-align: center;
}

// ----- Links
a {
  @include transition(color 0.05s linear);
  color: $link-color;

  &:hover {
    color: darken($link-color, 3%);
  }
}

// ----- Map
#map {
  $border-color: #BBB;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  height: $map-height;
}

// ----- Map Graph
#map-graph {
  height: $map-height;
  position: relative;
  width: 100%;
}

.car {
  fill: #74b6d9;

  &.hide {
    display: none;
  }
}

// ----- Controls
#controls {
}

// ----- Time 
#time {
  @include font-time;
  font-size: 40px;
  vertical-align: top;
  position: relative;
  top: -85px;
  margin-left: 20px;
}

// ----- Timeline
#timeline {
  height: 100px;
  margin: 0 auto;
  width: 80%;
}
